*{
       border:#3f312d ;
                    font-size:26px;

    font-family: cursive;
    
}
.body{

}
.contianer{
   position:relative;
   margin-left:320px;
 background:darkmagenta;
 border-radius:10px;
 height:650px;
 width:640px;
 box-shadow: 20px 20px 20px 20px rgb(224, 170, 224);
}
.img{
    margin-top:20px;
    width:200px;
    height:200px;
    border-radius:50%;
    object-fit:cover;
    margin-left:220px;
    border:4px solid rgb(214, 144, 216);
    outline: 4px solid rgb(20, 16, 16);
}
.hr{
        text-align:center;

    width:240px;
    height:5px;
    background-color:rgb(214, 144, 216);
}
.h1{
    text-align:center;
}
.location{
    width:30px;
    margin-top:12px;
    margin-left:210px;
}
.h3{
    margin-left:20px;
        text-align:center;
        margin-top:-40px;
}
.hr2{
    text-align:center;
    width:240px;
    height:5px;
    background-color:rgb(214, 144, 216);
}
.button1{
    margin-top:10px;
    margin-left:210px;
    background-color: rgb(115, 156, 156);
    color:rgb(189, 219, 219);
}.button2{
   
    
    background-color: rgb(115, 156, 156);
    color:rgb(189, 219, 219);
}
.button1:hover , .button2:hover{
    transform:scale(1.1);
}
ul{
    display: grid;
    grid-template-columns: auto auto;
    gap:10px;
    list-style: none;
    padding:0;
    margin-left: 70px;
    position: relative;
    top:-10px;
}
li{
    margin-right: 30px;
}
.skill{
    position: relative;
    left:20px;
}

